@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model FormBlogAdd
@using(Html.BeginForm("AddBlog", "Blog", FormMethod.Post))
{
    @Html.EditorForModel();

    <button class="btn btn-primary" type="submit">save</button>
}
